.first {
    background:blue;
    width:200px;
    height:300px;
}
.second {
    background:green;
    width:200px;
    height:300px;
}
.thired {
    background:red;
    width:200px;
    height:300px;
}